.app{
	width: 100%;
	height: 100%;
	position: relative;
}
.login-box{
}
.login-form {
  margin: auto;
  padding-top: 10%;
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}